llama-index
llama-index-readers-docling
llama-index-embeddings-ollama
llama-index-llms-ollama
llama-index-vector-stores-postgres
llama-index-storage-docstore-postgres
python-dotenv
psycopg2-binary==2.9.9
crewai
crewai-tools
rank_bm25
llama-index-retrievers-bm25
sentencepiece
fastapi
uvicorn
arize-phoenix
arize-phoenix-otel
openinference-instrumentation-crewai
openinference-instrumentation-litellm
numpy<2